html{
  scroll-behavior: smooth;
}


body{
  background-color: gold;
}
input{
   
    margin-left: 10rem;
    width: 75%;
    height: 3rem;
    display: block;
    align-items: center;
    justify-content: center;
}
label{
    margin-left: 10rem;
}
textarea{
    margin-left: 10rem;
    width: 75%;

}
button .view{
  color: aqua;
  background-color: darkblue;
}
button .view:hover{
  color: rgb(0, 2, 139);
  background-color: lightsalmon;
}
form .btn1{

margin-left: 31rem;
background-color: black;
color: white;
}
form .btn2{
    margin-left: 4rem;
    background-color: black;
    color: white;

} 
img{
    border-radius: 13%;
}
a{
    color: black;
    text-decoration: none;
}
.btn1:hover{
  color:green;
  background-color: transparent;
  border-radius: 31%;
}
.btn2:hover{
  color:blue;
  background-color: transparent;
  border-radius: 31%;
}

@media(max-width:768px){
  body{
    background-color: black;
    color: gold;
  }
  a{
    color: whitesmoke;
  }
  h1,h3{
    color: yellowgreen;
  }
  h2{
    color: rgb(248, 198, 231);
  }
  h5 {
    color: darkgreen;
  }
  
}